# PRiAD1 - test zaliczający

Test obejmuje zagadnienia, których dotyczy skrypt PRiAD0 oraz PRiAD1

> **Zadanie 1** Na podstawie ciągu znaków numeru indeksu wygeneruj liczbę kontrolną jako sumę cyfr numeru indeksu modulo 8

In [26]:
index = "307354"

sum = 0
for number in index:
    sum += int(number)

checkNumber = sum % 8
checkNumber

6

> **Zadanie 2** Wczytaj do ramki danych plik `daneX.csv` przy czym zamiast X wstaw otrzymaną w zadaniu 2 sumę kontrolną, wyświetl liczbę wierszy (obiektów), kolumn (atybutów) oraz podstawowe miary atrybutów (statystyki opisowe)

In [27]:
import numpy as np
import pandas as pd

filename = "daneX.csv"
filename = filename.replace("X", str(checkNumber) if checkNumber != 0 else str(10))
myData = pd.read_csv(filename)

rowsAmount = myData.count(0)
print("Liczba wierszy\n", rowsAmount, "\n")

columnsAmount = myData.count(1)
print("Liczba kolumn:\n", columnsAmount, "\n")

print("Statystyka opisowa:")
myData.describe()

Liczba wierszy
 atrybut1    144
atrybut2    144
klasa       144
dtype: int64

Liczba kolumn:
 0      3
1      3
2      3
3      3
4      3
      ..
139    3
140    3
141    3
142    3
143    3
Length: 144, dtype: int64

Statystyka opisowa:

         atrybut1    atrybut2
count  144.000000  144.000000
mean    38.541667   61.861111
std     29.918508   26.049874
min      2.000000    6.000000
25%     13.000000   40.750000
50%     25.000000   59.500000
75%     66.250000   90.000000
max     96.000000  100.000000

> **Zadanie 3** Stwórz macierz o losowych wartościach wymiaru 20 x 3. Kolumny mają mieć nazwę `kol_1`, `kol_2`, `kol_3`. Napisz funkcję wstawiającą między kolumnę `kol_1`, a `kol_2`  kolumnę `kol_1_2` składającą się z wartości kolumny `kol_1` podniesionych do kwadratu, oraz na końcu kolumnę `kol_2_3` zawierającą iloczyn wyrazów kolumny `kol_2` i `kol_3`.

In [28]:
import numpy as np
import pandas as pd

myMatrix = pd.DataFrame( 
    data = np.random.randn(20,3),
    columns = ["kol_1", "kol_2", "kol_3"]
)

myMatrix

       kol_1     kol_2     kol_3
0  -0.133720 -0.612673  0.461076
1   0.211111 -0.256333  1.382033
2   0.818857  0.129404 -0.125207
3  -0.522448 -0.366021  0.427350
4   0.224640  0.283884  0.510556
5  -0.830545  1.002755  0.672484
6  -0.356824 -0.199233  0.449232
7   1.964194 -0.533444 -1.515096
8   0.636039  0.763955  1.295251
9   0.629935 -1.051898 -1.521758
10 -0.875902 -0.222907  1.027933
11  0.765679  0.548471 -0.302893
12  0.144490  0.591622  0.078434
13  1.167862  2.456168 -1.714577
14 -1.054340  0.829280 -0.085598
15 -1.125081  0.031675 -0.224260
16 -0.953319  0.557147  0.635789
17  2.046522  0.326592 -0.497488
18  0.383896 -1.450149 -0.592504
19 -0.688929  1.090484 -2.047336

In [29]:
def addNewColumns(matrix):
    kol_1_2_content = []
    for index, row in matrix.iterrows():
        poweredItem = np.power(row["kol_1"], 2)
        kol_1_2_content.append(poweredItem)
    matrix.insert(1, "kol_1_2", kol_1_2_content)

    kol_2_3_content = []
    for index, row in matrix.iterrows():
        itemsProduct = row["kol_2"] * row["kol_3"]
        kol_2_3_content.append(itemsProduct)
    matrix["kol_2_3"] = kol_2_3_content

In [30]:
addNewColumns(myMatrix)
myMatrix

       kol_1   kol_1_2     kol_2     kol_3   kol_2_3
0  -0.133720  0.017881 -0.612673  0.461076 -0.282489
1   0.211111  0.044568 -0.256333  1.382033 -0.354261
2   0.818857  0.670526  0.129404 -0.125207 -0.016202
3  -0.522448  0.272952 -0.366021  0.427350 -0.156419
4   0.224640  0.050463  0.283884  0.510556  0.144939
5  -0.830545  0.689805  1.002755  0.672484  0.674337
6  -0.356824  0.127323 -0.199233  0.449232 -0.089502
7   1.964194  3.858059 -0.533444 -1.515096  0.808219
8   0.636039  0.404546  0.763955  1.295251  0.989513
9   0.629935  0.396818 -1.051898 -1.521758  1.600735
10 -0.875902  0.767204 -0.222907  1.027933 -0.229134
11  0.765679  0.586265  0.548471 -0.302893 -0.166128
12  0.144490  0.020877  0.591622  0.078434  0.046403
13  1.167862  1.363903  2.456168 -1.714577 -4.211288
14 -1.054340  1.111633  0.829280 -0.085598 -0.070985
15 -1.125081  1.265806  0.031675 -0.224260 -0.007103
16 -0.953319  0.908817  0.557147  0.635789  0.354228
17  2.046522  4.188254  0.326592 -0.497488 -0.162476
18  0.383896  0.147376 -1.450149 -0.592504  0.859219
19 -0.688929  0.474623  1.090484 -2.047336 -2.232587

**Zadanie 4** Zmień nazwę tego skryptu na następującą "PRiAD1zal_Imię_Nazwisko.ipynb" i wgraj wgraj go do ISOD-a we wskazane miejsce, nie przekraczając wyznaczonego terminu.

*Wersja na rok. akad. 20/21*